body {
    font-size: 18px;
}


.navbar {
    background-color: #f8d9e1;
    color: white;
}

.about {
    background: #fde8ed;  
}

.margin {
    padding-top: 20px;
    padding-bottom: 2px;
    border-top: solid 2px #f9d1d1;
    color: #8e6e71;
}

.font{
    font-weight: 300 !important;
}
